.reader{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reader-input{
  background-color: #E56B6F;
  border: 2px solid black;
  width: 35%;
  min-width: 330px;
  height: 53%;
  position: relative;
  margin-top: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  border-radius: 6px;
}

.reader-input h2{
  position: absolute;
  top: 5px;
}

.text-input{
  border-radius: 6px;
  padding: 5px;
  resize: none;
}